node_modules/
.gradle
.m2
.DS_Store
.bundle
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
dist/
build/
.env
.env.local
.env.*.local
.cache
.vscode-test
.idea
*.log
*.swp
*.swo
*~
.DS_Store
android/app/debug
android/app/release
ios/Pods
